/**
  @date 2013-09-04
  @name mackxu
  QQ:1004929678@qq.com
*/
/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, dfn, em, strong, th { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: "." }
/* 文字排版 */
.f12 { font-size: 12px }
.f13 { font-size: 13px }
.f14 { font-size: 14px }
.f16 { font-size: 16px }
.f20 { font-size: 20px }
.f1-2{ font-size: 1.2em }
.f1-5{ font-size: 1.5em }
.f2-0{ font-size: 2em }
.fb { font-weight: bold; }
.fn { font-weight: normal; }
.t2 { text-align: 2em }
.lh12{ line-height: 1.2em; }
.lh15 { line-height: 1.5em; }
.lh180 { line-height: 180% }
.lh200 { line-height: 200% }
.udl { text-decoration: underline; }
.no_udl { text-decoration: none; }
a{ text-decoration: none; }

/* 定位 布局 */
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.bc { margin-left: auto; margin-right: auto; }			/* 使块级元素居中 */
.fl { float: left; display: inline; }
.fr { float: right; display: inline; }
.clearfix:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { *zoom: 1; }
.vm { vertical-align: middle; }
.pr { position: relative; }
.pa { position: absolute; }
.abs-right { position: absolute; right: 0 }
.zoom { zoom: 1 }
.none { display: none; }
.inb{ display: inline-block; }
.block{ display: block; }
.inline{ display: inline; }
.hidden{ overflow: hidden; }
/* 宽/高度 */
.w { width: 100% }
.w-90 { width: 90% }
.w-80 { width: 80% }
.w-70 { width: 70% }
.w-60 { width: 60% }
.w-50 { width: 50% }
.w10 { width: 10px; }
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w70 { width: 70px; }
.w80 { width: 80px; }
.w90 { width: 90px; }
.w100 { width: 100px; }
.w200 { width: 200px; }
.w250 { width: 250px; }
.w300 { width: 300px; }
.w400 { width: 400px; }
.w500 { width: 500px; }
.w600 { width: 600px; }
.w700 { width: 700px; }
.w800 { width: 800px; }
.w900 { width: 900px; }
.w960 { width: 960px; }
.h { height: 100% }
.h10 { height: 10px; }
.h50 { height: 50px; }
.h80 { height: 80px; }
.h100 { height: 100px; }
.h200 { height: 200px; }

/* margin / padding */
.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m30 { margin: 30px; }
.mt5 { margin-top: 5px }
.mt10 { margin-top: 10px }
.mt15 { margin-top: 15px }
.mt20 { margin-top: 20px }
.mt30 { margin-top: 30px }
.mt50 { margin-top: 50px }
.mt100 { margin-top: 100px }
.mb5 { margin-bottom: 5px }
.mb10{ margin-bottom: 10px }
.mb15 { margin-bottom: 15px }
.mb20{ margin-bottom: 20px }
.mb30{ margin-bottom: 30px }
.mb50{ margin-bottom: 50px }
.mb100{ margin-bottom: 100px }
.ml5 { margin-left: 5px }
.ml10 { margin-left: 10px }
.ml15 { margin-left: 15px }
.ml20 { margin-left: 20px }
.ml30 { margin-left: 30px }
.ml50 { margin-left: 50px }
.ml100 { margin-left: 100px }
.mr5 { margin-right: 5px }
.mr10 { margin-right: 10px }
.mr15 { margin-right: 15px }
.mr20 { margin-right: 20px }
.mr30 { margin-right: 30px }
.mr50 { margin-right: 50px }
.mr100 { margin-right: 100px }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p30 { padding: 30px; }
.pt5 { padding-top: 5px }
.pt10 { padding-top: 10px }
.pt15 { padding-top: 15px }
.pt20 { padding-top: 20px }
.pt30 { padding-top: 30px }
.pt50 { padding-top: 50px }
.pt80 { padding-top: 80px }
.pt100 { padding-top: 100px }
.pb5 { padding-bottom: 5px }
.pb10 { padding-bottom: 10px }
.pb15 { padding-bottom: 15px }
.pb20 { padding-bottom: 20px }
.pb30 { padding-bottom: 30px }
.pb50 { padding-bottom: 50px }
.pb100 { padding-bottom: 100px }
.pl5 { padding-left: 5px }
.pl10 { padding-left: 10px }
.pl15 { padding-left: 15px }
.pl20 { padding-left: 20px }
.pl30 { padding-left: 30px }
.pl50 { padding-left: 50px }
.pl100 { padding-left: 100px }
.pr5 { padding-right: 5px }
.pr10 { padding-right: 10px }
.pr15 { padding-right: 15px }
.pr20 { padding-right: 20px }
.pr30 { padding-right: 30px }
.pr50 { padding-right: 50px }
.pr100 { padding-right: 100px }
