<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>Marionette demo</title>
  <meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/application.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
</head>
<body>
<div id="header-region"></div>

<div id="main-region">
	<p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
</div>

<!-- <div class="members" id="J_members"></div> -->
<div id="j-dialog-region" class="dialog-region"></div>

<script type="text/template" id="header-template"> 
<div class="navbar-inner">
	<div class="container">
		<a class="brand" href="#contacts">Contact manager</a> 
		<div class="nav-collapse collapse">
			<ul class="nav"></ul> 
		</div>
  </div>
</div>
</script>
<script type="text/template" id="header-link"> 
	<a href="#<%= url %>"><%= name %></a>
</script>

<!-- index of regions -->
<script type="text/template" id="contact-list-layout"> 
	<div id="panel-region" ></div>
	<div id="contacts-region" ></div>
</script>

<script type="text/template" id="contact-list-panel">
	<button class="btn btn-primary js-new" >New contact</button>
</script>

<script type="text/template" id="member-list"> 
	<thead>
		<tr><th>FirstName</th><th>LastName</th><th></th></tr>
	</thead>
	<tbody></tbody>
</script>
<!-- 用户列表的Composite View -->

<script type="text/template" id="member-template"> 
	<td><%= firstName %></td><td><%= lastName %></td>
	<td> 
		<a href="#contacts/<%= id %>" class="btn btn-primary btn-xs js-show">
			<i class="icon-eye-open"></i> Show</a>
		<a href="#contacts/<%= id %>/edit" class="btn btn-primary btn-xs js-edit">
			<i class="icon-pencil"></i> Edit</a>
		<button class="btn btn-danger btn-xs js-delete">
			<i class="icon-remove"></i> Delete</button> 
	</td>
</script>

<!-- // 用户列表中的Itemview -->

<script type="text/template" id="contact-show">
	<h1><%= firstName %>, <%= lastName %></h1>
	<p><a href="#contacts/<%= id %>/edit" class="btn btn-small js-edit">Edit this contact</a></p>
	<p><a href="#contacts" class="link j-contacts-list">返回列表</a></p>
</script>

<script type="text/template" id="missing-contact-show">
	<div class="alert alert-danger">This contact doesn‘t exist ! </div>
</script>

<script type="text/template" id="contact-form"> 
	<form>
		<div class="control-group">
			<label for="contact-firstName" class="control-label">First name:</label>
			<input id="contact-firstName" name="firstName" type="text" value="<%= firstName %>" /> 
		</div>
		<div class="control-group">
			<label for="contact-lastName" class="control-label">Last name:</label>
			<input id="contact-lastName" name="lastName" type="text" value="<%= lastName %>" /> 
		</div>
		<div class="control-group">
			<label for="contact-phoneNumber" class="control-label">Phone number:</label>
			<input id="contact-phoneNumber" name="phoneNumber" type="text" value="<%= phoneNumber %>" /> 
		</div>
		<button class="btn js-submit">Save</button> 
	</form>
</script>

<!-- loading view -->
<script type="text/template" id="loading-view">
	<h1><%= title %></h1>
	<p><%= message %></p>
	<div id="j-spinner"></div>
</script>
<!-- About App -->
<script type="text/template" id="about-template">
	<h1>About this application</h1>
	<p>This application was designed to
accompany you during your learning.</p> <p>Hopefully, it has served you well !</p>
</script>
  
<script src="scripts/libs/jquery.js"></script>
<script src="scripts/libs/jquery-ui.js"></script>
<script src="scripts/libs/underscore.js"></script>
<script src="scripts/libs/backbone.js"></script>
<script src="scripts/libs/backbone.syphon.js"></script>
<!-- it will allow us to select a certain item in the collection, and automatically deselect all the others -->
<script src="scripts/libs/backbone.picky.js"></script>
<script src="scripts/libs/backbone.localstorage.js"></script>
<script src="scripts/libs/backbone.marionette.js"></script>
<script src="scripts/libs/spin.js"></script>
<script src="scripts/libs/spin.jquery.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/apps/config/storage/localstorage.js"></script>
<script src="scripts/entities/common.js"></script>
<script src="scripts/entities/header.js"></script>
<script src="scripts/entities/contact.js"></script>
<script src="scripts/common/views.js"></script>

<script src="scripts/apps/contacts/contacts_app.js"></script>
<script src="scripts/apps/contacts/common/views.js"></script>
<script src="scripts/apps/contacts/new/new_view.js"></script>
<script src="scripts/apps/contacts/list/list_view.js"></script>
<script src="scripts/apps/contacts/list/list_controller.js"></script>
<script src="scripts/apps/contacts/show/show_view.js"></script>
<script src="scripts/apps/contacts/show/show_controller.js"></script>
<script src="scripts/apps/contacts/edit/edit_view.js"></script>
<script src="scripts/apps/contacts/edit/edit_controller.js"></script>
<!-- // apps/contacts -->

<script src="scripts/apps/about/about_app.js"></script>
<script src="scripts/apps/about/show/show_view.js"></script>
<script src="scripts/apps/about/show/show_controller.js"></script>

<script src="scripts/apps/header/header_app.js"></script>
<script src="scripts/apps/header/list/list_view.js"></script>
<script src="scripts/apps/header/list/list_controller.js"></script>

<script>
	App.start();
</script>
</body>
</html>
