body {

}
#search-text {

	border: 1px solid #ccc;
}
.suggestions {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	position: absolute;
	border: 1px solid #000;
}
.suggestions div {
	padding: 0 3px;
	cursor: default;		/* 鼠标是箭头形式 */
}
.current {
	background-color: #3366cc;
	color: #FFF;
}